
@{ ViewBag.Title = "Masonry"; }

@Html.Vertex().Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = true;
})



<section class="section pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="w-md-80 w-lg-50 text-center mx-md-auto">

                    <img src="/Content/img/avatar/a1.jpg" width="60" />

                    <h2 class="my-4">
                        Motivation Is The First <br />
                        Step To <span class="text-primary">Success</span>
                    </h2>

                    <div class="social social-brand social-lg text-center">
                        <a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a>
                        <a class="social-twitter" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="social-gplus" href="#"><i class="fab fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@Html.Vertex().Section().ContentTemplate(@<text>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                @Html.Vertex().Portfolio(PortfolioViewName.Masonry).ShowCategoryFilter()

            </div>
        </div>
    </div>

</text>)



@Html.Vertex().Footer()
