<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.book.warm.mapper.BookLoveMapper">

<insert id="insertlove">
insert into book_love(isbn, user_id)
values(#{isbn}, #{user_id})
</insert>

<select id="listlove" resultType="com.book.warm.vo.BookLoveVO">
select *
from BOOK_LOVE
where isbn = #{isbn} and user_id = #{user_id}
</select>

<delete id="delete">
delete from BOOK_LOVE
where isbn = #{isbn} and user_id = #{user_id}
</delete>

</mapper>