<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityBoard"> 
	<select id='selectList' resultType="com.book.warm.vo.CommunityBoardVO">
		select * from community_board order by commNo desc
	</select>
	<select id='selectOne' resultType="com.book.warm.vo.CommunityBoardVO">
		select * from community_board where commNo=#{commNo}
	</select>
	<select id='delete' resultType="int">
		delete community_board where commNo=#{commNo}
	</select>
</mapper>