<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.warm.mapper.CommunityBoardMapper"> 
	<select id='getCommunityBoardList' resultType="com.book.warm.vo.CommunityBoardVO">
		select comm_no,user_id,comm_subject,comm_title,comm_content,comm_written_time,comm_clicked,comm_group,comm_step,comm_indent from community_board order by comm_no desc
	</select>
	<select id='getCommunityBoardOne' resultType="com.book.warm.vo.CommunityBoardVO">
		select * from community_board where comm_no=#{comm_no}
	</select>
	<select id='getCommunityBoardOneDelete' resultType="Integer">
		delete community_board where comm_no=#{comm_no}
	</select>
	
	<update id='modifyCommunityBoardOne'>
		update community_board SET comm_title = #{comm_title}, comm_content=#{comm_content},comm_subject=#{comm_subject} where comm_no=#{comm_no}
	</update>
	
	<insert id='insertCommunityBoardWrite'>
		insert into community_board (comm_no, user_id, comm_subject, comm_title, comm_content, comm_clicked, comm_group,comm_step,comm_indent)
VALUES (community_board_seq.nextval, #{user_id}, #{comm_subject}, #{comm_title}, #{comm_content} ,0, community_board_seq.currval, 0, 0)
	</insert>
</mapper>