<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.warm.mapper.LibraryMapper">

	<insert id='addMyBook' parameterType='com.book.warm.vo.LibraryVO'>
		insert into library (user_id, list_no, list_img_src, list_type, isbn) values(#{user_id},library_list_seq.nextval,#{list_img_src},#{list_type},#{isbn})
	</insert>
	
	<select id='getListNoCnt'  resultType='int'>
	select count(list_no) from library where list_no=#{list_no} 
	</select>
	
	<select id='getLibraryBooks'  resultType='com.book.warm.vo.LibraryVO'>
	<![CDATA[
	select * from library where user_id=#{user_id} and list_no>0 order by list_no desc
	]]>
	</select>
	
	<select id='getMyList'  resultType='com.book.warm.vo.BookVO'>

	select *
	from book b
	where exists(select b.isbn
                  from library l
                  where b.isbn = l.isbn
                  and user_id=#{user_id})

	</select>

	<update id='deleteLibraryList'>
	update library set list_no=-1 where user_id=#{user_id} and isbn=#{isbn}
	</update>
	
	<update id='reAddLibrary'>
	update library set list_no=library_list_seq.nextval where user_id=#{user_id} and isbn=#{isbn}
	</update>
	
	<delete id='deleteMyBook'>
	delete library where user_id=#{user_id} and isbn=#{isbn}
	</delete>
	
	<select id="getMyBooks" resultType="com.book.warm.vo.LibraryVO">
		select * from library where user_id= #{user_id} order by list_added_date desc
	</select>
	
	<select id="getSP" resultType="double">
		select star_point from library where user_id=#{user_id} and isbn=#{isbn}
	</select>
	
	<update id="modifySP">
		update library set star_point = #{star_point} where user_id = #{user_id} and isbn = #{isbn}
	</update>
	
</mapper>