<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.book.warm.mapper.MemberMapper">
 
 	<resultMap type="com.book.warm.vo.UserVO" id="memberMap">
 		<id property="user_id" column="user_id" />
 		<result property="user_id" column="user_id"/>
 		<result property="user_pw" column="user_pw"/>
 		<result property="user_nickname" column="user_nickname"/>
 		<result property="user_name" column="user_name"/>
 		<result property="user_bday" column="user_bday"/>
 		<result property="user_sex" column="user_sex"/>
 		<result property="user_phone" column="user_phone"/>
 		<result property="user_mail" column="user_mail"/>
 		<result property="user_zipcode" column="user_zipcode"/>
 		<result property="user_addr" column="user_addr"/>
 		<result property="user_addr_detail" column="user_addr_detail"/>
 		<result property="user_join_date" column="user_join_date"/>
 		<result property="user_level" column="user_level"/>
 		<result property="user_tot_price" column="user_tot_price"/>
 		<result property="user_point" column="user_point"/>
 		<collection property="authList" resultMap="authMap"></collection>
 	</resultMap>
 	
 	<resultMap type="com.book.warm.vo.AuthVO" id="authMap">
 		<result property="user_id" column="user_id"/>
 		<result property="authority" column="authority"/>
 	</resultMap>
 	
 	<select id="read" resultMap="memberMap">
 		select
 			ui.user_id, user_pw, user_nickname, user_name, user_bday, user_sex, user_phone, user_mail, user_zipcode,
 			user_addr, user_addr_detail, user_join_date, user_level, user_tot_price, user_point, authority
 		from
 			user_info ui left outer join authorities auth on ui.user_id = auth.user_id
 		where ui.user_id = #{user_id}
 	</select>
 	<select id="readAllUser" resultMap="memberMap">
 		select
 			ui.user_id, user_pw, user_nickname, user_name, user_bday, user_sex, user_phone, user_mail, user_zipcode,
 			user_addr, user_addr_detail, user_join_date, user_level, user_tot_price, user_point, authority
 		from
 			user_info ui left outer join authorities auth on ui.user_id = auth.user_id
 	</select>
 
 </mapper>