<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.warm.mapper.MsgMapper">
	
	<!-- 받은쪽지  -->
	<select id="msglist" resultType="com.book.warm.vo.MsgTableVO">
	select * from msg_table
	where msg_get_id = #{msg_get_id}
	order by msg_no desc
	</select>
	<!-- 보낸 쪽지 -->
	<select id="msglist2" resultType="com.book.warm.vo.MsgTableVO">
	select * from msg_table
	where msg_send_id = #{msg_send_id}
	order by msg_no desc
	</select>
	<!-- 쪽지보내기  -->
  	<insert id = "msginsert">
  	 insert into msg_table(msg_no, msg_send_id, msg_get_id, msg_title, msg_content)
		values(
		MSG_SEQ.nextval, #{msg_send_id},  #{msg_get_id}, #{msg_title}, #{msg_content})
 	</insert> 
	<!-- 쪽지삭제  -->
	<delete id="msgdelete">
	delete from msg_table where msg_no = #{msg_no}
	</delete>
	<!-- 쪽지세기 -->
	<select id="msgcount" resultType="int">
	select count(msg_no) 
	from msg_table
    where msg_get_id = #{msg_get_id}
	</select>
	<select id="msgcount2" resultType="int">
	select count(msg_no) 
	from msg_table
    where msg_send_id = #{msg_send_id}
	</select>
	<!-- 페이징  -->
	<select id="msgpaging" resultType="com.book.warm.vo.MsgTableVO">
 	<![CDATA[
 	select *
 	from (select rownum rn, msg_no, msg_title, msg_content, msg_get_id, msg_send_id 
        	from msg_table
        	where msg_get_id = #{msg_get_id}
       		and rownum <= #{pageNum} * #{amount}
            order by msg_no desc)
	where rn > (#{pageNum} -1) * #{amount}
    ]]>
	</select>
</mapper>

