<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.warm.mapper.OrdersStatusMapper">
	<update id="modifyStatus">
		update orders_item set orders_status=#{ordersStatusVO.orders_status}
		where orders_no=#{ordersStatusVO.orders_no}
	</update>
	
</mapper>