<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.warm.mapper.RegisterMapper">
	<select id="checkUser" resultType="com.book.warm.vo.UserVO">
		select * from user_info where user_mail=#{user_mail}
	</select>
	
	<insert id="insertNewUser" parameterType="com.book.warm.vo.UserVO">
		insert into user_info
		values(#{user_id}, #{user_pw}, #{user_nickname}, #{user_name}, #{user_bday}, #{user_sex}, #{user_phone}, #{user_mail}, #{user_zipcode}, #{user_addr}, #{user_addr_detail}, sysdate, 1, 0, 0, 1)
	</insert>
	
	<select id="checkDuplicatedId" resultType="java.lang.Integer">
		select count(*) from user_info where user_id=#{user_id}
	</select>
	
	<select id="checkDuplicatedNickname" resultType="java.lang.Integer">
		select count(*) from user_info where user_nickname=#{user_nickname}
	</select>
</mapper>
		