<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.book.warm.mapper.ReviewReplyMapper">
 
 	<insert id="insert">
 		insert into review_reply 
 		values(review_reply_seq.nextval, #{review_no}, #{user_id}, #{review_re_content}, sysdate, sysdate)
 	</insert>
 	
 	<select id="read" resultType="com.book.warm.vo.ReviewReplyVO">
 		select * from review_reply where review_re_no = #{review_re_no}
 	</select>
 	
 	<delete id="delete">
 		delete from review_reply where review_re_no = #{review_re_no}
 	</delete>
 	
 	<update id="update">
 		update review_reply 
 		set review_re_content = #{review_re_content}, review_re_modified_date = sysdate
 		where review_re_no = #{review_re_no}
 	</update>
 	
 	<select id="getListWithPaging" resultType="com.book.warm.vo.ReviewReplyVO">
 		select * from review_reply
 		where review_no = #{review_no}
 		order by review_re_no asc
 	</select>
 	
 </mapper>
 