<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="review_main">
 
 	<select id="selectBoardList" resultType="com.book.warm.vo.ReviewBoardVO2">
 	
 		select * from
		(
		    select review_no, user_id, review_written_date, review_modify_date, isbn, 
		    	review_ref, review_title, review_content, review_open, 
		    	rank() over(partition by isbn order by review_modify_date desc, review_no desc) rk 
		    from review_board
		) sub, book_cover bc
		where sub.rk = 1 and sub.isbn=bc.isbn
		
 	</select>
 	
 	<select id="selectListPerBook" resultType="com.book.warm.vo.ReviewBoardVO">
 		select * from review_board where isbn = #{isbn} order by review_written_date desc
 	</select>
 
 </mapper>