<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.warm.mapper.ShopListMapper">

	<!-- //베스트 순서로 불러오기 -->
	<select id="shoplist" resultType="com.book.warm.vo.ShopListBoardVO">
	select book_list, book_img, book_title, writer.writer_name, publisher.publisher_name, book_price_for_sale
	from book, publisher, writer 
	where book.publisher_no = publisher.publisher_no and writer.writer_no = book.writer_no
	order by book_list
	</select>
	
	
	<!-- 테스트용/ 제목순으로 불러오기 -->
	<select id="shoplist2" resultType="com.book.warm.vo.ShopListBoardVO">
	select book_list, book_img, book_title, writer.writer_name, publisher.publisher_name, book_price_for_sale
	from book, publisher, writer 
	where book.publisher_no = publisher.publisher_no and writer.writer_no = book.writer_no
	order by 2
	</select>
</mapper>