<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.warm.mapper.ShopMapper">
	<select id="cartList" resultType="com.book.warm.vo.CartJoinBookVO">
		select c.*, b.book_title, b.book_price_for_sale, b.book_img, c.cart_cnt*b.book_price_for_sale as total
		from cart c inner join book b
		on c.isbn = b.isbn
		where c.user_id = #{user_id}
	</select>

	<delete id="removeCart">
		delete from cart 
		where cart_no = #{cart_no}
	</delete>
	
	<update id="updateCnt">
		update cart 
		set cart_cnt=#{cart_cnt} 
		where cart_no=#{cart_no}
	</update>
	
	<select id="getCartOne" resultType="com.book.warm.vo.CartJoinBookVO">
		select c.*, b.book_title, b.book_price_for_sale, b.book_img, c.cart_cnt*b.book_price_for_sale as total
		from cart c inner join book b
		on c.isbn = b.isbn
		where cart_no=#{cart_no}
	</select>
	
	
	<!-- ======================추가코드==============================  -->
	<!-- 장바구니추가 -->
	<select id="insertcart" parameterType="com.book.warm.vo.CartVO">
	insert into cart(cart_no, user_id, isbn, cart_cnt)
	values(CART_SEQ.nextval,  #{user_id}, #{isbn}, #{cart_cnt})
	</select>
	<!-- 장바구니 동일한 레코드 확인 -->
 	<select id="countcart" resultType="int">
		select count(*)
		from cart
		where user_id = #{user_id}
		and isbn = #{isbn}
	</select> 
	<!-- 동일한 제품이 존재하면 수정  -->
	<update id="updatecart">
	update cart
	set cart_cnt = cart_cnt + #{cart_cnt}
	where user_id = #{user_id}
	and isbn = #{isbn}	
	</update>	
	<!-- 삭제 -->
	<delete id="delete">
	delete from cart
	where cart_no = #{cart_no}
	</delete>
	<!-- ============================================================== -->
	
	<select id="getUserInfo" resultType="com.book.warm.vo.UserVO">
		select user_id, user_name, user_phone, user_zipcode, user_addr, user_addr_detail, user_tot_price, user_point
		from user_info
		where user_id=#{user_id}
	</select>
	
	<select id="getCouponList" resultType="com.book.warm.vo.CouponVO">
		<![CDATA[
			select t1.coupon_no, t1.coupon_name, t1.coupon_req, t1.coupon_use_req, t1.coupon_discount_percent, t1.coupon_validate
			from (select c1.user_id, c2.*
			    from coupon_no c1 inner join coupon c2
			    on c1.coupon_no = c2.coupon_no
			    where c1.user_id=#{user_id} 
			    	and c2.coupon_use_req<=#{coupon_use_req}
			        and c1.coupon_available='t' 
			        and c2.coupon_validate>=TO_DATE(sysdate)) t1 inner join
			    (select user_id, user_level
			    from user_info
			    where user_id=#{user_id}) t2
			on t1.user_id = t2.user_id
			where t1.coupon_req<=t2.user_level
			order by t1.coupon_no
		]]>
	</select>
	
	<insert id="addOrder">
		insert into orders(orders_no, user_id, orders_payment, orders_total, refund_account, refund_bank, orders_date, orders_pay_date, coupon_no, post_no, orders_pay_total, delivery_fee, discounted_point)
		values(ORDERS_SEQ.nextval, #{user_id}, #{orders_payment}, #{orders_total}, #{refund_account}, #{refund_bank}, SYSDATE, ${orders_pay_date}, #{coupon_no}, #{post_no}, #{orders_pay_total}, #{delivery_fee}, #{discounted_point})
	</insert>
	
	<select id="getOrders_no" resultType="java.lang.String">
		select ORDERS_SEQ.currval from dual
	</select>
	
	<insert id="addOrderItems">
		insert into orders_item values(ORDERS_ITEM_SEQ.nextval, #{isbn}, #{cart_cnt}, #{orders_no}, '주문완료')
	</insert>
	
	<insert id="addPost">
		insert into post
		values(POST_SEQ.nextval, #{user_id}, #{post_name}, #{post_phone}, #{post_zipcode}, #{post_addr}, ${post_addr_detail})
	</insert>
	
	<select id="getPost_no" resultType="java.lang.String">
		select POST_SEQ.currval from dual
	</select>
	
	<select id="limitDepositTime" resultType="java.lang.String">
		SELECT TO_CHAR(orders_date+1, 'YYYY/MM/DD HH24:MI:SS')
		FROM orders
		where orders_no=#{orders_no}
	</select>
	
	<update id="removeCoupon">
		update coupon_no set coupon_available='f'
		where coupon_no=#{useCoupon} and user_id=#{user_id}
	</update>
	
	<update id="setUserPoint">
		update user_info set user_point=#{point}
		where user_id=#{user_id}
	</update>
	
	<update id="addTotalPrice">
		update user_info set user_tot_price = user_tot_price + #{orders_pay_total}
		where user_id=#{user_id}
	</update>
	
</mapper>



























