<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.book.warm.mapper.ShopListMapper">

	<!-- 제목순으로 책 불러오기 -->
	<select id="shoptitlelist" resultType="com.book.warm.vo.BookListVO">
    <![CDATA[	
    select * from (
    	select * 
    	from book 
    	order by book_title
    	)
   	where rownum <= 12
    ]]>
	</select> 
	
	
	<!-- 가격순(저렴한 순)으로 불러오기  -->
	<select id="bookpricelist" resultType="com.book.warm.vo.BookListVO">
    <![CDATA[	
    select * from  (
    	select * 
    	from book 
    	order by book_price_for_sale
    	)
    where rownum <= 12
    and book_price_for_sale not in(0)
    ]]>	
	</select> 
	
	
	<!-- 좋아요 많은 누른 순서대로 -->
	<select id="bookpricelist2" resultType="com.book.warm.vo.BookLikeVO2">
    <![CDATA[	
	select * from (select * from (
					SELECT ISBN, COUNT(ISBN) cnt
					FROM BOOK_LIKE
					GROUP BY ISBN
					ORDER BY COUNT(ISBN) DESC)
					where rownum <= 12) a, book b
	where a.isbn = b.isbn
	order by cnt desc
    ]]>	
	</select> 
	
	<!-- isbn으로 책 상세정보 불러오기   -->
	<select id="bookdetail" resultType="com.book.warm.vo.BookListVO">
    <![CDATA[
    select bk.isbn, bk.book_title, bk.writer_name, bk.translator_name, bk.publisher_name, bk.book_tot_page, bk.book_published_date, 
           bk.book_price, bk.book_price_for_sale, bk.book_stock, bk.book_story, bk.book_img, au.author
    from book bk, authors au
    where bk.isbn = au.isbn 
    and bk.isbn = #{isbn}
    and rownum <= 1
    ]]> 
	</select>
	
	<!-- bookwritername 저자이름이 같은 다른 책들 불러오기 -->
	<select id="bookwritername" resultType="com.book.warm.vo.BookListVO">
	<![CDATA[
	select * from (select bk.isbn, bk.book_title, bk.writer_name, bk.translator_name, bk.publisher_name, bk.book_tot_page, bk.book_published_date, 
           				bk.book_price, bk.book_price_for_sale, bk.book_stock, bk.book_story, bk.book_img, au.author
    				from book bk, authors au
   					where bk.isbn = au.isbn 
    				order by bk.isbn)
	where author =#{author}
	and rownum <= 6
	]]> 
	</select>

	<!-- 책에 대한 별 점수 가져오기  -->
	<select id="booklike" resultType="com.book.warm.vo.BookLikeVO2">
	select b.*, bk.user_id, bk.like_book
	from book b inner join book_like bk
	on b.isbn = bk.isbn
	where bk.user_id = #{user_id}
	order by like_book
	</select>

</mapper>