<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> Smart Forms </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<link rel="stylesheet" type="text/css"  href="css/smart-forms.css">
    <link rel="stylesheet" type="text/css"  href="css/font-awesome.min.css">-->
  
    <!--[if lte IE 9]>   
        <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <![endif]-->    
    
    <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/smart-forms-ie8.css">
    <![endif]-->

</head>

<body class="woodbg">

	<div class="smart-wrap">
    	<div class="smart-forms smart-container wrap-2">
        
        	<div class="form-header header-primary">
            	<h4><i class="fa fa-pencil-square"></i>Smart Options </h4>
            </div><!-- end .form-header section -->
            
            <form method="post" action="/" id="account2">
            	<div class="form-body">
                    <div class="section">                
                        <div class="option-group field">
                            <div class="smart-option-group">                        
                                <label for="city1" class="option">
                                    <input type="radio" id="city1" name="city">
                                    <span class="smart-option smart-radio">
                                        <span class="smart-option-ui"> <i class="iconc"></i>  New York </span>                                      
                                    </span>                                      
                                </label>
                                
                                <label for="city2" class="option">
                                    <input type="radio" id="city2" name="city">
                                    <span class="smart-option smart-radio">
                                        <span class="smart-option-ui"> <i class="iconc"></i>  London </span>                                      
                                    </span>                                      
                                </label>
                                
                                <label for="city3" class="option">
                                    <input type="radio" id="city3" name="city">
                                    <span class="smart-option smart-radio">
                                        <span class="smart-option-ui"> <i class="iconc"></i>  Paris </span>                                      
                                    </span>                                      
                                </label>
                                
                                <label for="city4" class="option">
                                    <input type="radio" id="city4" name="city">
                                    <span class="smart-option smart-radio">
                                        <span class="smart-option-ui"> <i class="iconc"></i>  Berlin </span>                                      
                                    </span>                                      
                                </label>                            
                                                             
                             </div><!--  smart-option-group -->                           
                        </div><!-- end .option-group section -->
                    </div><!-- end section -->  
                                         
                    <div class="section">                    
                        <div class="option-group field">
                            <div class="smart-option-group">                                
                                <label for="rate1" class="option">
                                    <input type="checkbox" id="rate1" name="rate">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> <i class="iconc"></i> 1 Star </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="rate2" class="option">
                                    <input type="checkbox" id="rate2" name="rate">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> <i class="iconc"></i> 2 Star </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="rate3" class="option">
                                    <input type="checkbox" id="rate3" name="rate">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> <i class="iconc"></i> 3 Star </span>                                  
                                    </span>                              
                                </label> 
                                
                                <label for="rate4" class="option">
                                    <input type="checkbox" id="rate4" name="rate">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> <i class="iconc"></i> 4 Star </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="rate5" class="option">
                                    <input type="checkbox" id="rate5" name="rate">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> <i class="iconc"></i> 5 Star </span>                                  
                                    </span>                              
                                </label>                                                                       
                            </div><!--  smart-option-group -->                            
                        </div><!-- end .option-group section -->
                    </div><!-- end section --> 
                    
                    <div class="section">                    
                        <div class="option-group field">
                        
                            <div class="smart-option-group smart-option-list left">                                
                                <label for="group1" class="option">
                                    <input type="checkbox" id="group1" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-bold" aria-hidden="true"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="group2" class="option">
                                    <input type="checkbox" id="group2" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-align-left"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="group3" class="option">
                                    <input type="checkbox" id="group3" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-align-center"></i> 
                                        </span>                                  
                                    </span>                              
                                </label> 
                                
                                <label for="group4" class="option">
                                    <input type="checkbox" id="group4" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-align-right"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="group5" class="option">
                                    <input type="checkbox" id="group5" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-align-justify"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>                                                                       
                            </div><!--  smart-option-group -->
                            
                            <div class="smart-option-group smart-option-list right">                                
                                <label for="group6" class="option">
                                    <input type="checkbox" id="group6" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                            <i class="iconc"></i> Format 
                                            <i class="fa fa-caret-down" aria-hidden="true"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="group7" class="option">
                                    <input type="checkbox" id="group7" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-undo"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="group8" class="option">
                                    <input type="checkbox" id="group8" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-rotate-right"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>
                                
                                <label for="group9" class="option">
                                    <input type="checkbox" id="group9" name="group">
                                    <span class="smart-option  smart-checkbox">
                                        <span class="smart-option-ui"> 
                                        	<i class="fa fa-save"></i> 
                                        </span>                                  
                                    </span>                              
                                </label>                                
                                 
                                                                                             
                            </div><!--  smart-option-group -->                            
                                                        
                        </div><!-- end .option-group section -->
                    </div><!-- end section -->
                    
                    
                    
                    <div class="frm-row">
                    
                        <div class="section colm colm6">
                        
                            <div class="option-group field">
                            	<div class="smart-option-group smart-option-list group-vertical"> 
                                       
                                    <label for="auto" class="option">
                                        <input type="radio" name="updates" id="auto" value="Auto">
                                        <span class="smart-option smart-radio">
                                            <span class="smart-option-ui"> 
                                            	<i class="iconc"></i> Automatic updates
                                            </span>                                  
                                        </span>
                                    </label>
                                    
                                    <label for="manual" class="option">
                                        <input type="radio" name="updates" id="manual" value="Manual">
                                        <span class="smart-option smart-radio">
                                            <span class="smart-option-ui"> 
                                            	<i class="iconc"></i> Manual updates
                                            </span>                                  
                                        </span>                  
                                    </label>                            
                                    
                                    <label for="never" class="option">
                                        <input type="radio" name="updates" id="never" value="Never">
                                        <span class="smart-option smart-radio">
                                            <span class="smart-option-ui"> 
                                            	<i class="iconc"></i> No updates
                                            </span>                                  
                                        </span>               
                                    </label>
                                
                                </div><!--  smart-option-group -->   
                            </div><!-- end .option-group section --> 
                                                
                        </div><!-- end .colm section -->
                        
                                                        
                        <div class="section colm colm6">
                        
                            <div class="option-group field">
                            	<div class="smart-option-group smart-option-list group-vertical">
                                 
                                    <label class="option">
                                        <input type="checkbox" name="mobileos" value="Android">
                                        <span class="smart-option  smart-checkbox">
                                            <span class="smart-option-ui"> 
                                                <i class="fa fa-android"></i> Android 
                                                <span class="iconc-pos"> <i class="fa fa-check"></i> </span>
                                            </span>                                  
                                        </span>                                               
                                    </label>
                              
                                    <label class="option">
                                        <input type="checkbox" name="mobileos" value="Windows">
                                        <span class="smart-option  smart-checkbox">
                                            <span class="smart-option-ui"> 
                                            	<i class="fa fa-windows"></i>  Windows
                                                <span class="iconc-pos"> <i class="fa fa-check"></i> </span>  
                                            </span>                                  
                                        </span>                                               
                                    </label>
                                    
                                    <label class="option">
                                        <input type="checkbox" name="mobileos" value="IOS">
                                        <span class="smart-option  smart-checkbox">
                                            <span class="smart-option-ui"> 
                                            	<i class="fa fa-apple"></i>  IOS
                                                <span class="iconc-pos"> <i class="fa fa-check"></i> </span>   
                                            </span>                                  
                                        </span>                                                
                                    </label>
                                                                
                                </div><!--  smart-option-group -->  
                            </div><!-- end .option-group section --> 
                                                    
                        </div><!-- end .colm section -->
                        
                    </div> <!-- end .frm-row section -->                    
                    
                    
                    
                                                                                                   
                    
                </div><!-- end .form-body section -->
                <div class="form-footer">
                	<button type="submit" class="button btn-primary"> Send Form </button>
                </div><!-- end .form-footer section -->
            </form>
            
        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->
    
    <div></div><!-- end section -->

</body>
</html>
