<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> Smart Forms - Comment Form </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<link rel="stylesheet" type="text/css"  href="css/smart-forms.css">
    <link rel="stylesheet" type="text/css"  href="css/font-awesome.min.css">-->

    <!--[if lte IE 9]>
    	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>    
        <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <![endif]-->    
    
    <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/smart-forms-ie8.css">
    <![endif]-->
       
</head>

<body class="woodbg">

	<div class="smart-wrap">
    	<div class="smart-forms smart-container wrap-2">
        
        	<div class="form-header header-primary">
            	<h4><i class="fa fa-rocket"></i>Leave a comment</h4>
          </div><!-- end .form-header section -->
            
            <form method="post" action="/" id="comment">
            	<div class="form-body">
                
                	<div class="frm-row">
                    
                        <div class="section colm colm6">
                            <label class="field prepend-icon">
                                <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name...">
                                <span class="field-icon"><i class="fa fa-user"></i></span>  
                            </label>
                        </div><!-- end section -->
                        
                        <div class="section colm colm6">
                            <label class="field prepend-icon">
                                <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="Last name...">
                                <span class="field-icon"><i class="fa fa-user"></i></span>  
                            </label>
                        </div><!-- end section --> 
                                                                   
                    </div><!-- end frm-row section -->
                    
                	<div class="frm-row">
                    
                        <div class="section colm colm6">
                            <label class="field prepend-icon">
                                <input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
                                <span class="field-icon"><i class="fa fa-envelope"></i></span>  
                            </label>
                        </div><!-- end section -->
                        
                        <div class="section colm colm6">
                            <label class="field prepend-icon">
                                <input type="url" name="website" id="lastname" class="gui-input" placeholder="Website url...">
                                <span class="field-icon"><i class="fa fa-globe"></i></span>  
                            </label>
                        </div><!-- end section --> 
                                                                   
                    </div><!-- end frm-row section -->
                    
                	<div class="section">
                    	<label class="field prepend-icon">
                        	<textarea class="gui-textarea" id="comment" name="comment" placeholder="Your comment"></textarea>
                            <span class="field-icon"><i class="fa fa-comments"></i></span>
                            <span class="input-hint"> 
                            	<strong>DO:</strong> Be awesome. <strong>DO NOT:</strong> Be negative or off topic. We expect a great comment... 
                            </span>   
                        </label>
                    </div><!-- end section -->                                        
                                                                                                
                </div><!-- end .form-body section -->
                <div class="form-footer">
                	<button type="submit" class="button btn-primary">Post Comment</button>
                </div><!-- end .form-footer section -->
            </form>
            
        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->
</body>
</html>
