<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> Smart Forms - Create Account 2 Form </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<link rel="stylesheet" type="text/css"  href="css/smart-forms.css">
    <link rel="stylesheet" type="text/css"  href="css/font-awesome.min.css">-->
    

    <!--[if lte IE 9]>
    	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>    
        <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <![endif]-->    
    
    <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/smart-forms-ie8.css">
    <![endif]-->
       
</head>

<body class="woodbg">

	<div class="smart-wrap">
    	<div class="smart-forms smart-container wrap-3">
        
        	<div class="form-header header-primary">
            	<h4><i class="fa fa-pencil-square"></i>Registration form</h4>
            </div><!-- end .form-header section -->
            
            <form method="post" action="/" id="account2">
            	<div class="form-body">
                
                    <div class="spacer-b30">
                    	<div class="tagline"><span>Set up your account </span></div><!-- .tagline -->
                    </div>
                    
                    <div class="frm-row">
                        <div class="section colm colm6">
                            <label class="field prepend-icon">
                                <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name...">
                                <span class="field-icon"><i class="fa fa-user"></i></span>  
                            </label>
                        </div><!-- end section -->
                        
                        <div class="section colm colm6">
                            <label class="field prepend-icon">
                                <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="Last name...">
                                <span class="field-icon"><i class="fa fa-user"></i></span>  
                            </label>
                        </div><!-- end section -->
                    </div><!-- end .frm-row section -->                                    
                
                	<div class="section">
                    	<label class="field prepend-icon">
                        	<input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
                            <span class="field-icon"><i class="fa fa-envelope"></i></span>  
                        </label>
                    </div><!-- end section -->
                    
                	<div class="section">
                        <div class="smart-widget sm-right smr-120">
                            <label class="field prepend-icon">
                                <input type="text" name="username" id="username" class="gui-input" placeholder="Choose your username">
                                <span class="field-icon"><i class="fa fa-user"></i></span>  
                            </label>
                            <label for="username" class="button">.envato.com</label>
                        </div><!-- end .smart-widget section --> 
                    </div><!-- end section --> 
                    
                	<div class="section">
                    	<label class="field prepend-icon">
                        	<input type="text" name="password" id="password" class="gui-input" placeholder="Create a password">
                            <span class="field-icon"><i class="fa fa-lock"></i></span>  
                        </label>
                    </div><!-- end section -->
                    
                	<div class="section">
                    	<label class="field prepend-icon">
                        	<input type="text" name="confirmPassword" id="confirmPassword" class="gui-input" placeholder="Retype your password">
                            <span class="field-icon"><i class="fa fa-unlock-alt"></i></span>  
                        </label>
                    </div><!-- end section -->
                    
                    <div class="spacer-t40 spacer-b30">
                    	<div class="tagline"><span> 7 days free trial </span></div><!-- .tagline -->
                    </div> 
                    
                	<div class="section">
                        <label class="option block">
                            <input type="checkbox" name="trial">
                            <span class="checkbox"></span> 
                            Sign me up for a  <a href="#" class="smart-link"> 7-day free PRO trial. </a>                   
                        </label>
                        <label class="option block spacer-t10">
                            <input type="checkbox" name="terms">
                            <span class="checkbox"></span> 
                            I agree to the  <a href="#" class="smart-link"> terms of use. </a>                   
                        </label>                        
                    </div><!-- end section -->                      
                    
                </div><!-- end .form-body section -->
                <div class="form-footer">
                	<button type="submit" class="button btn-primary">I Accept - Create Account</button>
                </div><!-- end .form-footer section -->
            </form>
            
        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->
    
    <div></div><!-- end section -->

</body>
</html>
