<!DOCTYPE html>
<html lang="en">
  <head>
  	<title> Smart Forms - Form Grid </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--<link rel="stylesheet" type="text/css"  href="css/smart-forms.css">
    <link rel="stylesheet" type="text/css"  href="css/font-awesome.min.css">-->

    <!--[if lte IE 9]>
    	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>    
        <script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
    <![endif]-->    
    
    <!--[if lte IE 8]>
        <link type="text/css" rel="stylesheet" href="css/smart-forms-ie8.css">
    <![endif]-->

</head>

<body class="woodbg">

	<div class="smart-wrap">
    	<div class="smart-forms smart-container wrap-1">
        
        	<div class="form-header header-primary">
            	<h4><i class="fa fa-list-ul"></i>12 Column Grid</h4>
            </div><!-- end .form-header section -->
            
            <form method="post" action="" id="form-ui">
            	<div class="form-body">
                
                    <div class="spacer-b30">
                    	<div class="tagline"><span>Multi Column Grids </span></div><!-- .tagline -->
                    </div>
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm2">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 2">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm2">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 2">
                                </label>
                            </div><!-- end section -->
                            
                            <div class="section colm colm2">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 2">
                                </label>
                            </div><!-- end section -->
                            
                            <div class="section colm colm2">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 2">
                                </label>
                            </div><!-- end section -->
                            
                            <div class="section colm colm2">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 2">
                                </label>
                            </div><!-- end section -->                           
                        
                            <div class="section colm colm2">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 2">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section --> 
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm3">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 3">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm3">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 3">
                                </label>
                            </div><!-- end section -->
                            
                            <div class="section colm colm3">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 3">
                                </label>
                            </div><!-- end section -->
                            
                            <div class="section colm colm3">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 3">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section --> 
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm4">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 4">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm4">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 4">
                                </label>
                            </div><!-- end section -->
                            
                            <div class="section colm colm4">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 4">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section --> 
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm5">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 5">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm7">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 7">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section --> 
                    
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm6">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 6">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm6">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 6">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section -->                                                                                 
                     
                    
                    <div class="frm-row">
                    
                        <div class="section colm colm7">
                            <label class="field select">
                                <select id="country" name="country">
                                    <option value="">Col 7</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                </select>
                                <i class="arrow"></i>                    
                            </label>  
                        </div><!-- end section -->                     
                        
                        <div class="section colm colm5">
                            <label class="field select">
                                <select id="location" name="location">
                                    <option value="">Col 5</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                </select>
                                <i class="arrow double"></i>                    
                            </label>  
                        </div><!-- end section --> 
                    
                    </div><!-- end .frm-row section -->
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm8">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 8">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm4">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 4">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section -->
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm9">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 9">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm3">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 3">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section -->
                    
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm10">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 10">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm2">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 2">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section -->
                    
                    <div class="frm-row">
                    
                            <div class="section colm colm11">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 11">
                                </label>
                            </div><!-- end section -->                     
                            
                            <div class="section colm colm1">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 1">
                                </label>
                            </div><!-- end section -->
                    
                    </div><!-- end .frm-row section -->
                    
                    
                    <div class="frm-row">
                            <div class="section colm colm12">
                                <label class="field">
                                    <input type="text" class="gui-input" placeholder="Col 12">
                                </label>
                            </div><!-- end section -->
                    </div><!-- end .frm-row section --> 
                    
                    <div class="section">
                        <label class="field">
                            <input type="text" class="gui-input" placeholder="Full Col">
                        </label>
                    </div><!-- end section -->
                    
                    <div class="spacer-t40 spacer-b40">
                    	<div class="tagline"><span> Incredibly Flexible </span></div><!-- .tagline -->
                    </div><!-- end .spacer section --> 
                    
                     <div class="frm-row">
                    	<label class="field-label colm colm2 align-right">Email Address:</label>
                        <div class="section colm colm4">
                            <label class="field">
                                <input type="email" class="gui-input" placeholder="example@domain.com...">  
                            </label>
                        </div><!-- end section -->
                    	<label class="field-label colm colm2 align-right">Personal Name:</label>
                        <div class="section colm colm4">
                            <label class="field">
                                <input type="text" class="gui-input" placeholder="John Doe">
                            </label>
                        </div><!-- end section -->                        
                    </div><!-- end .frm-row section -->
                    
                    
                     <div class="frm-row">
                    	<label class="field-label colm colm2 align-right">Budget Range:</label>
                        <div class="section colm colm5">
                            <label class="field">
                                <input type="text" class="gui-input" placeholder="$500">  
                            </label>
                        </div><!-- end section -->
                        <div class="section colm colm5">
                            <label class="field">
                                <input type="text" class="gui-input" placeholder="$2500">
                            </label>
                        </div><!-- end section -->                        
                    </div><!-- end .frm-row section -->
                    
                     <div class="frm-row">
                    	<label class="field-label colm colm2 align-right">Date of Birth:</label>
                        <div class="section colm colm3">
                            <label class="field">
                                <input type="email" class="gui-input" placeholder="DD">  
                            </label>
                        </div><!-- end section -->
                        <div class="section colm colm4">
                            <label class="field">
                                <input type="text" class="gui-input" placeholder="MM">
                            </label>
                        </div><!-- end section --> 
                        <div class="section colm colm3">
                            <label class="field">
                                <input type="text" class="gui-input" placeholder="YYYY">
                            </label>
                        </div><!-- end section -->                                                
                    </div><!-- end .frm-row section -->                                                                                 
                            
                    <div class="spacer-t20 spacer-b40">
                    	<div class="tagline"><span> Just Any Content </span></div><!-- .tagline -->
                    </div><!-- end .spacer section -->                     

                    
                	<div class="frm-row">
                    
                        <div class="colm colm4">
                        	<div class="section">
                            
                            	<div class="price-box">                                
                                	<h4><sup>$</sup>29<span class="per-month">/month</span></h4>
                                	<h5> Starter </h5>
                                    <div class="spacer spacer-t20 spacer-b20"></div>
                                	<p>Simply the best professional features from our range of services</p>
                                    <div class="spacer spacer-t20 spacer-b20"></div>
                                    <a href="#" class="button block pushed expand"> Learn more </a>
                                </div><!-- end .price-box section -->
                                
                            </div><!-- end .section section -->
                        </div><!-- end .colm section -->
                        
                        <div class="colm colm4">
                        	<div class="section">
                            
                            	<div class="price-box">                                
                                	<h4><sup>$</sup>99<span class="per-month">/month</span></h4>
                                	<h5> Business </h5>
                                    <div class="spacer spacer-t20 spacer-b20"></div>
                                	<p>Simply the best professional features from our range of services</p>
                                    <div class="spacer spacer-t20 spacer-b20"></div>
                                    <a href="#" class="button block pushed expand"> Learn more </a>
                                </div><!-- end .price-box section -->
                                
                            </div><!-- end .section section -->
                        </div><!-- end .colm section -->                        
                        
                        <div class="colm colm4">
                        
                        	<div class="section">
                            
                            	<div class="price-box selected-box">
                                    <div class="ribbon-large"> <div class="ribbon-inner">POPULAR</div> </div>
                                	<h4><sup>$</sup>179<span class="per-month">/month</span></h4>
                                	<h5> Professional </h5>
                                    <div class="spacer spacer-t20 spacer-b20"></div>
                                	<p>Simply the best professional features from our range of services</p>
                                    <div class="spacer spacer-t20 spacer-b20"></div>
                                    <a href="#" class="button btn-primary block pushed expand"> Learn more </a>
                                </div><!-- end .price-box section -->
                                
                            </div><!-- end .section section -->
                        </div><!-- end .colm section -->
                                                                   
                    </div><!-- end frm-row section -->

                    
                </div><!-- end .form-body section -->
                <div class="form-footer">
                	<button type="submit" class="button btn-primary">Proceed to confirm </button>
                </div><!-- end .form-footer section -->
            </form>
            
        </div><!-- end .smart-forms section -->
    </div><!-- end .smart-wrap section -->
    
    <div></div><!-- end section -->

</body>
</html>
