@charset "UTF-8";
body{
width:100vh;
height:100vh}

.margin-zero td, tr{
	margin: 0px;
	border: 0px;
	padding:0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border:0px;
	margin:0px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	height:100px;
	width:100vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.library-table {
	width: 796px;
	height: auto;
	dispay: block;
	margin-left: auto;
	margin-right: 10%;
	background-color: transparent;
	background-image: url('/warm/resources/img/library/bookshelf/bookshelf-2.png');
	background-size: 100% 500px;
}

.library_emptySpace {
	width: 37px;  
}

.full-img img{
position: absolute; top:0; left: 0;
width: 100%;
height: 100%;
}

.book-img-location {
	width: 80px;
	vertical-align: bottom;
	padding-bottom: 18px;
}

.book-thumbnail {
	height: 100px;
	width: 80px;
}

* {
	margin: 0;
	padding: 0;
}

a.button {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	background: #000;
	margin: 20px;
}

.modal-library {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60%;
	min-height: 30%;
	background: #fff;
}

.modal-library .title {
	font-size: 20px;
	padding: 20px;
	background: gold;
}

.modal-library .con {
	font-size: 15px;
	line-height: 1.3;
	padding: 30px;
}

.modal-library .close {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #000;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	right: 10px;
	top: 10px;
}

/* table td{
	width : auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border:0px;
	margin:0px;
} */

.transparent{
	background:transparent;
}
