@charset "UTF-8";


@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');


* {
	font-family: 'Nanum Gothic', sans-serif, monospace;
}

p {
	font-family: 'Nanum Gothic', sans-serif, monospace;
}
html{
	height: 100%;
}

.footer-wrap {
min-height: 100%;
position: relative;
padding-bottom: 19px; /* footer height */
}

body{
width:100vw;
height:100%;
}

footer {
position: absolute;
bottom: 0;
left: 0;
right: 0;
}
.viewHeight{
height:100vh;
}
.nopadding{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.margin-zero td, tr{
	margin: 0px;
	border: 0px;
	padding:0px;
}
.books-row{
	height:10.1vh
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	height:100px;
	width:100vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.bookshelf-div {
	/* width: 55vw;
	height: 67vh;
	dispay: block;
	margin-left: auto;
	margin-right: 10%;
	background-color: transparent;
	background-image: url('/warm/resources/img/library/bookshelf/bookshelf-2.png');
	background-size: 100% 100%; */
}
.library-font{
	font-style: italic; 
	font-size:medium;
	margin-right: 10pxf;
	margin-left: 10px;
}
.no-border{
	border:none;
}
.margin-20px{
	margin:20px;
}
.margin-10px{
	margin:10px;
}
.padding-10px{
	padding:10px;
}
/* .library_emptySpace_col0 {
	width: 1.1vw;
}
.library_emptySpace_col1 {
	width: 1.2vw;
}
.library_emptySpace_col2 {
	width: 1.26vw;
}
.library_emptySpace_col3 {
	width: 1.13vw;
}
.library_emptySpace_col4 {
	width: 1.13vw;
} */
.top-padding-3vh{
	padding-top:3vh;
}
.full-img img{
position: absolute; top:0; left: 0;
width: 100%;
height: 100%;
}

.book-img-location {
	width: 80px;
	vertical-align: bottom;
	padding-bottom: 18px;
}

.book-thumbnail {
	height: 10.1vh;
	width: 3.7vw;
	/* box-shadow: 3px 3px 10px gray */
	box-shadow: inset 0 0 10px 10px #000;
}
.book-position{
}
* {
	margin: 0;
	padding: 0;
}

a.button {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	background: #000;
	margin: 20px;
}

.modal-library {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60%;
	min-height: 30%;
	background: #fff;
}

.modal-library .title {
	font-size: 20px;
	padding: 20px;
	background: gold;
}

.modal-library .con {
	font-size: 15px;
	line-height: 1.3;
	padding: 30px;
}

.modal-library .close {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #000;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	right: 10px;
	top: 10px;
}

.bookshelf-position{
	position: absolute;
	left: 33.55vw;
	top:12.3vh;
}
.bookshelf-table{
	width: 31.4vw;
	height: 67vh;
}
.bookshelf-table-bottomSpace{
	height: 0.7vh;
}
.bookshelf-table-bottom{
	height: 0.9vh;
}
.bookshelf-table-books_col0 {
	width:3.7vw;
	padding-left:1.3vw!important;
	padding-right:1.28vw!important;
}
.bookshelf-table-books_col1 {
	width:3.7vw;
	padding-left:1.4vw!important;
	padding-right:1.13vw!important;
}
.bookshelf-table-books_col2 {
	width:3.7vw;
	padding-left:1.29vw!important;
	padding-right:1.29vw!important;
}
.bookshelf-table-books_col3 {
	width:3.7vw;
	padding-left:1.3vw!important;
	padding-right:1.28vw!important;
}
.bookshelf-table-books_col4 {
	width:3.7vw;
	padding-left:1.3vw!important;
	padding-right:1.23vw!important;
}
.bookshelf-table-booktop-0{
	height: 3.4vh;
}
.bookshelf-table-booktop-1{
	height: 4.2vh;
}
.bookshelf-table-booktop-2{
	height: 4.15vh;
}
.bookshelf-table-booktop-3{
	height: 4.3vh;
}
.bookshelf-table-booktop-4{
	height: 3.2vh;
}
.bookshelf-table-topspace{
	height: 1.5vh;
}
.bookshelf-table-left-side{
	width:0.5vw;
}
.bookshelf-table-right-side{
	width:0.5vw;
}
.bookshelf-table-centerbar{
	width:30.4vw;
}
bookshelf-table-bar{
	width:55vw;
}

.transparent{
	background:transparent;
}

.lib-menu {
	font-size:3.8vw!important; 
	color:white;
	margin-left:1vw;
	margin-right:1vw;
}

.bar-breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #f6f9fc;
  border-radius: 0.25rem;
}

.bar-breadcrumb-item + .bar-breadcrumb-item {
  padding-left: 0.5rem;
}

.bar-breadcrumb-item + .bar-breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #8c98a4;
  content: "/";
}

.bar-breadcrumb-item + .bar-breadcrumb-item:hover::before {
  text-decoration: underline;
}

.bar-breadcrumb-item + .bar-breadcrumb-item:hover::before {
  text-decoration: none;
}

.bar-breadcrumb-item.active {
  color: #8c98a4;
}
/* from style.css */


/* Page Header */
/* .page-header {
    background-color: #f7f7f7;
    margin: 0 0 50px 0;
    min-height: 50px;
    padding: 45px 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
} */
.page-header .bar-breadcrumb {
    background: none;
    margin: 0 0 8px 2px;
    padding: 0;
    position: relative;
    z-index: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-header .bar-breadcrumb > li {
    display: inline-block;
    font-size: 12px;
    text-shadow: none;
}

.page-header .bar-breadcrumb > li + li:before {
    color: inherit;
    opacity: 0.5;
    font-family: 'FontAwesome';
    content: "\f105";
    padding: 0 7px 0 5px;
    font-weight: 900;
}

.page-header .bar-breadcrumb.breadcrumb-valign-mid {
    position: absolute;
    top: 36%;
    right: 20px;
}
/*Beadcrumb*/

.v-page-heading .bar-breadcrumb {
    float: right;
    background-color: transparent;
    margin-bottom: 0px;
    padding: 8px 0 6px;
    font-size: 12px;
}

.v-page-heading .bar-breadcrumb > li + li:before {
    padding: 0 3px;
}

/*End breadcrumb*/


/* from theme-responsive.css */
.bar-breadcrumb { margin-right: 0; }

/* textarea 공백 및 개행문자를 그대로 출력 */
.pre {
    color: #666;
    overflow: auto;
    padding: 20px;
    white-space: pre;
    white-space: pre-wrap;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}