@using Vertex.Service 

@{ 
    var postService = Engine.Resolve<IPostService>();
    var latestPosts = postService.GetLatestPosts().Take(3);
}


@if (latestPosts.Count() > 0)
{
    <h3 class="h5 mb-4">Latest Post</h3>
    <div class="clearfix">

        @foreach (var item in latestPosts)
        {
            <div class="media align-items-center mb-4">
                <div class="w-60px mr-3 text-center">
                    <i class="icon-bubble-conversation-2 fs-35"></i>
                </div>
                <div class="media-body">
                    <a class="mt-0 mb-2 text-dark anim-link-2 clearfix" href="/@item.Url">@item.Title</a>
                    <span><a href="/user/@item.User.UserName" class="text-dark small anim-link-2">@item.User.UserName</a> <span class="small">-</span> </span>
                    <span class="time small text-muted">@item.CreateDateUtc.ToRelativeFormat()</span>
                </div>
            </div>
        }
    </div>
}
