<div class="clearfix d-flex">
    <div class="media align-items-center w-50">
        <div class="mr-1">
            <a href="@Setting("general.socialmedia.facebook").Value" target="_blank" class="btn btn-facebook btn-sm pl-3 pr-3">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <div class="media-body line-height-1">
            <a class="text-dark clearfix font-weight-medium" href="@Setting("general.socialmedia.facebook").Value" target="_blank">Follow</a>
            <span class="time small text-muted">on Facebook</span>
        </div>
    </div>

    <div class="media align-items-center w-50">
        <div class="mr-1">
            <a href="@Setting("general.socialmedia.twitter").Value" target="_blank" class="btn btn-twitter btn-sm pl-3 pr-3">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="media-body line-height-1">
            <a class="text-dark clearfix font-weight-medium" href="@Setting("general.socialmedia.twitter").Value" target="_blank">Follow</a>
            <span class="time small text-muted">on Twitter</span>
        </div>
    </div>
</div>