/*@import url('../vendor/bootstrap/css/bootstrap-rtl.css');*/

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
   /*padding-right: 20px;
   padding-left: 20px;*/
}

.sticky-header-active .header-transparent .header-logo img{
   content:url('../img/logo.png');
}


.pix-business-1 {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(../img/custom/bg-intro.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.pix-business-2 {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(../img/custom/video-section-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.pix-business-3 {
    background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),url(../img/custom/pricing.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.pix-business-4 {
    background-image: url(../img/main/startup-team.jpg);
    background-size: cover; 
    background-position: bottom;
    padding-top:7%;
    padding-bottom:25%;
}

.pix-business-6 {
    background-image: url(../img/main/startup-team-2.jpg);
    background-size: cover; 
    background-position: bottom;
    padding-top:5%;
    padding-bottom:32%;
}

.pix-business-5 {
    background-image: url(../img/main/header_black.png);
    background-size: cover; 
    background-position: bottom;
}

.gr-bg-1 {
       background: #343e44;
    background: linear-gradient(135deg,#343e44 0%,#0d0f10 100%);
    color: #ffffff;
    padding-top: 11%;
    padding-bottom: 11%;
}

.gr-bg-2 {
       background: linear-gradient(135deg, rgb(132, 84, 226) 0%, rgb(6, 82, 253) 100%);
    color: rgb(255, 255, 255);
    padding-top: 8%;
    padding-bottom: 10%;
    visibility: visible;
}

.gr-text-1 {
       -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
   color: #8454e2;
    background-image: -moz-linear-gradient(-45deg, #8454e2 0%, #0652FD 100%);
    background-image: -webkit-linear-gradient(-45deg, #8454e2 0%, #0652FD 100%);
    background-image: linear-gradient(135deg, #8454e2 0%, #0652FD 100%);
}


.grve-separator-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 0;
    overflow:visible;
}

.grve-separator {
    position: absolute;
    bottom: -1px;
    left: 0;
}

 
@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('fonts/SF-Pro-Display-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
       url('fonts/poppins-v5-latin-200.woff2') format('woff2'),
       url('fonts/poppins-v5-latin-200.woff') format('woff');
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('fonts/poppins-v5-latin-regular.woff2') format('woff2'),
       url('fonts/poppins-v5-latin-regular.woff') format('woff');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('fonts/poppins-v5-latin-500.woff2') format('woff2'),
       url('fonts/poppins-v5-latin-500.woff') format('woff');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('fonts/poppins-v5-latin-600.woff2') format('woff2'),
       url('fonts/poppins-v5-latin-600.woff') format('woff');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('fonts/poppins-v5-latin-700.woff2') format('woff2'),
       url('fonts/poppins-v5-latin-700.woff') format('woff');
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('fonts/poppins-v5-latin-800.woff2') format('woff2'),
       url('fonts/poppins-v5-latin-800.woff') format('woff');
}
