USE [Vertex]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplyJob]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplyJob](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[Email] [nvarchar](128) NULL,
	[Phone] [nvarchar](64) NULL,
	[Message] [nvarchar](max) NULL,
	[Address] [nvarchar](500) NULL,
	[Website] [nvarchar](500) NULL,
	[LinkedInProfileURL] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[FullName] [nvarchar](128) NULL,
	[ApplyDateUtc] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ApplyJob] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PictureId] [int] NULL,
	[Name] [nvarchar](128) NULL,
	[Surname] [nvarchar](128) NULL,
	[Location] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientTestimonials]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientTestimonials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Star] [smallint] NULL,
	[IsActive] [bit] NOT NULL,
	[CreateDateUtc] [datetime] NOT NULL,
	[UpdateDateUtc] [datetime] NULL,
	[PersonName] [nvarchar](128) NULL,
	[PersonPosition] [nvarchar](128) NULL,
	[PersonPictureId] [int] NOT NULL,
	[WhatSayAboutUs] [nvarchar](max) NULL,
	[Website] [nvarchar](512) NULL,
	[OrderNo] [int] NOT NULL,
	[ClientName] [nvarchar](256) NULL,
	[ClientLogoId] [int] NOT NULL,
	[TypeName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ClientTestimonials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](128) NULL,
	[PostId] [int] NOT NULL,
	[ParentId] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[Approved] [bit] NOT NULL,
	[Email] [nvarchar](128) NULL,
	[Commentary] [nvarchar](512) NULL,
	[CommentDateUtc] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[Subject] [nvarchar](256) NOT NULL,
	[Message] [nvarchar](512) NOT NULL,
	[FullName] [nvarchar](128) NOT NULL,
	[Phone] [nvarchar](16) NULL,
	[DateUtc] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](512) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](128) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[SallaryMin] [decimal](18, 2) NULL,
	[SallaryMax] [decimal](18, 2) NULL,
	[JobType] [nvarchar](128) NOT NULL,
	[CreateDateUtc] [datetime] NOT NULL,
	[UpdateDateUtc] [datetime] NULL,
 CONSTRAINT [PK_dbo.Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobCategory]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.JobCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MediaStorage]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaStorage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityName] [nvarchar](128) NULL,
	[MimeType] [nvarchar](32) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[FileName] [nvarchar](256) NULL,
	[FilePath] [nvarchar](512) NULL,
	[EntityId] [nvarchar](128) NULL,
	[OrderNo] [int] NOT NULL,
	[CreateDateUtc] [datetime] NOT NULL,
	[UpdateDateUtc] [datetime] NULL,
 CONSTRAINT [PK_dbo.MediaStorage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](512) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ViewName] [nvarchar](128) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[PictureId] [int] NULL,
	[CreateDateUtc] [datetime] NOT NULL,
	[UpdateDateUtc] [datetime] NULL,
	[Format] [nvarchar](32) NULL,
	[FormatValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Portfolio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PortfolioCategory]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PortfolioCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](512) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[AllowComment] [bit] NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[PictureId] [int] NULL,
	[ViewName] [nvarchar](128) NOT NULL,
	[ApproveComment] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDateUtc] [datetime] NOT NULL,
	[UpdateDateUtc] [datetime] NULL,
	[Format] [nvarchar](32) NULL,
	[FormatValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTag]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.PostTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTagMapping]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTagMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PostTagMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setting]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[Value] [nvarchar](max) NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Setting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SocialNetwork]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialNetwork](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [nvarchar](128) NULL,
	[EntityName] [nvarchar](128) NULL,
	[WebAddress] [nvarchar](512) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[Name] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.SocialNetwork] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subscriber]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriber](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](128) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SubscribeDateUtc] [datetime] NOT NULL,
	[UnSubscribeDateUtc] [datetime] NULL,
 CONSTRAINT [PK_dbo.Subscriber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemError]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemError](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShortMessage] [nvarchar](max) NULL,
	[FullMessage] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](max) NULL,
	[PageUrl] [nvarchar](max) NULL,
	[ReferrerUrl] [nvarchar](max) NULL,
	[ErrorDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SystemError] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamMember]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMember](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](128) NULL,
	[IsActive] [bit] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[PictureId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FullName] [nvarchar](128) NOT NULL,
	[CreateDateUtc] [datetime] NOT NULL,
	[UpdateDateUtc] [datetime] NULL,
 CONSTRAINT [PK_dbo.TeamMember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UrlRecord]    Script Date: 8/5/2019 11:26:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrlRecord](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[EntityName] [nvarchar](128) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LanguageId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UrlRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Member')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8f668bf0-3f70-49a9-a2cd-1ffdf2752aa3', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b2bf51b9-4f30-427d-8756-40c717112592', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b2bf51b9-4f30-427d-8756-40c717112592', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Description], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsActive], [PictureId], [Name], [Surname], [Location]) VALUES (N'e20996f4-d2b8-4a6f-888e-1d8f2e9e21d4', NULL, N'admin@gmail.com', 1, N'AB/e6Wl2tv5nrwsx4QjkpOqe+x2jGd10Z+77pY+0wlsvcbin4rHPSeCb++Ba1ZVS1A==', N'bd421e4c-1686-4179-9c4c-d8cf8fc2e3f0', NULL, 0, 0, NULL, 1, 0, N'Admin', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [IsActive], [IsDelete]) VALUES (1, N'Web Design', 1, 0)
INSERT [dbo].[Category] ([Id], [Name], [IsActive], [IsDelete]) VALUES (2, N'Marketing', 1, 0)
INSERT [dbo].[Category] ([Id], [Name], [IsActive], [IsDelete]) VALUES (3, N'Graphic', 1, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[ClientTestimonials] ON 

INSERT [dbo].[ClientTestimonials] ([Id], [Star], [IsActive], [CreateDateUtc], [UpdateDateUtc], [PersonName], [PersonPosition], [PersonPictureId], [WhatSayAboutUs], [Website], [OrderNo], [ClientName], [ClientLogoId], [TypeName]) VALUES (2, NULL, 1, CAST(0x0000AA9F016BE78C AS DateTime), NULL, NULL, NULL, 0, NULL, NULL, 1, N'Samsung', 8, N'OnlyClient')
SET IDENTITY_INSERT [dbo].[ClientTestimonials] OFF
SET IDENTITY_INSERT [dbo].[Job] ON 

INSERT [dbo].[Job] ([Id], [Title], [Description], [Location], [CategoryId], [ViewCount], [IsActive], [IsDelete], [SallaryMin], [SallaryMax], [JobType], [CreateDateUtc], [UpdateDateUtc]) VALUES (1, N'Senior Analytics, Data Analytics', N'
            <!-- Heading -->
            <h3>
              Who we are
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-6 mb-md-8">
              We believe lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, malesuada tincidunt lectus. Proin nec tellus sit amet massa auctor imperdiet id vitae diam. Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- Heading -->
            <h3>
              What we’re looking for
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-5">
              Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Consider UX from a user journey level across several brand touchpoints, as well as within specific interactions
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Design at a systems level, where components can be re-used and built to scale, optimized across different screen sizes and devices
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-8">
                Iterate quickly and communicate ideas across various levels of fidelity, with the ability to receive feedback constructively as well as provide feedback to other’s work
              </p>

            </div>

            <!-- Heading -->
            <h3 class="mb-5">
              Applicant requirements
            </h3>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-0">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>

', N'San Francisco, CA', 1, 1, 1, 0, NULL, NULL, N'Full Time', CAST(0x0000AA9F016E44B2 AS DateTime), CAST(0x0000AA9F017738F1 AS DateTime))
INSERT [dbo].[Job] ([Id], [Title], [Description], [Location], [CategoryId], [ViewCount], [IsActive], [IsDelete], [SallaryMin], [SallaryMax], [JobType], [CreateDateUtc], [UpdateDateUtc]) VALUES (3, N'Software Engineer, Analytics Infrastructure', N'
            <!-- Heading -->
            <h3>
              Who we are
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-6 mb-md-8">
              We believe lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, malesuada tincidunt lectus. Proin nec tellus sit amet massa auctor imperdiet id vitae diam. Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- Heading -->
            <h3>
              What we’re looking for
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-5">
              Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Consider UX from a user journey level across several brand touchpoints, as well as within specific interactions
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Design at a systems level, where components can be re-used and built to scale, optimized across different screen sizes and devices
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-8">
                Iterate quickly and communicate ideas across various levels of fidelity, with the ability to receive feedback constructively as well as provide feedback to other’s work
              </p>

            </div>

            <!-- Heading -->
            <h3 class="mb-5">
              Applicant requirements
            </h3>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-0">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>

', N'San Francisco, CA', 3, 0, 1, 0, NULL, NULL, N'Full Time', CAST(0x0000AA9F016EE00F AS DateTime), CAST(0x0000AA9F01772B1E AS DateTime))
INSERT [dbo].[Job] ([Id], [Title], [Description], [Location], [CategoryId], [ViewCount], [IsActive], [IsDelete], [SallaryMin], [SallaryMax], [JobType], [CreateDateUtc], [UpdateDateUtc]) VALUES (4, N'Senior Web Deweloper & Designer', N'
            <!-- Heading -->
            <h3>
              Who we are
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-6 mb-md-8">
              We believe lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, malesuada tincidunt lectus. Proin nec tellus sit amet massa auctor imperdiet id vitae diam. Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- Heading -->
            <h3>
              What we’re looking for
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-5">
              Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Consider UX from a user journey level across several brand touchpoints, as well as within specific interactions
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Design at a systems level, where components can be re-used and built to scale, optimized across different screen sizes and devices
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-8">
                Iterate quickly and communicate ideas across various levels of fidelity, with the ability to receive feedback constructively as well as provide feedback to other’s work
              </p>

            </div>

            <!-- Heading -->
            <h3 class="mb-5">
              Applicant requirements
            </h3>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-0">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>

', N'New York, US', 2, 3, 1, 0, NULL, NULL, N'Full Time', CAST(0x0000AA9F016F40FF AS DateTime), CAST(0x0000AA9F0177089F AS DateTime))
INSERT [dbo].[Job] ([Id], [Title], [Description], [Location], [CategoryId], [ViewCount], [IsActive], [IsDelete], [SallaryMin], [SallaryMax], [JobType], [CreateDateUtc], [UpdateDateUtc]) VALUES (5, N'Business Strategy Senior Associate', N'
            <!-- Heading -->
            <h3>
              Who we are
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-6 mb-md-8">
              We believe lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, malesuada tincidunt lectus. Proin nec tellus sit amet massa auctor imperdiet id vitae diam. Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- Heading -->
            <h3>
              What we’re looking for
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-5">
              Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Consider UX from a user journey level across several brand touchpoints, as well as within specific interactions
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Design at a systems level, where components can be re-used and built to scale, optimized across different screen sizes and devices
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-8">
                Iterate quickly and communicate ideas across various levels of fidelity, with the ability to receive feedback constructively as well as provide feedback to other’s work
              </p>

            </div>

            <!-- Heading -->
            <h3 class="mb-5">
              Applicant requirements
            </h3>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-0">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>

', N'Sydney, Australia', 3, 0, 1, 0, NULL, NULL, N'Contractor', CAST(0x0000AA9F016FC931 AS DateTime), CAST(0x0000AA9F0175102A AS DateTime))
INSERT [dbo].[Job] ([Id], [Title], [Description], [Location], [CategoryId], [ViewCount], [IsActive], [IsDelete], [SallaryMin], [SallaryMax], [JobType], [CreateDateUtc], [UpdateDateUtc]) VALUES (6, N'Junior PHP Engineer', N'
            <!-- Heading -->
            <h3>
              Who we are
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-6 mb-md-8">
              We believe lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, malesuada tincidunt lectus. Proin nec tellus sit amet massa auctor imperdiet id vitae diam. Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- Heading -->
            <h3>
              What we’re looking for
            </h3>

            <!-- Text -->
            <p class="text-gray-800 mb-5">
              Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et lectus rhoncus laoreet.
            </p>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Consider UX from a user journey level across several brand touchpoints, as well as within specific interactions
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Design at a systems level, where components can be re-used and built to scale, optimized across different screen sizes and devices
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-8">
                Iterate quickly and communicate ideas across various levels of fidelity, with the ability to receive feedback constructively as well as provide feedback to other’s work
              </p>

            </div>

            <!-- Heading -->
            <h3 class="mb-5">
              Applicant requirements
            </h3>

            <!-- List -->
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800">
                Work through complex design problems to create beautiful and thoughtful interactions for our marketing web platform
              </p>

            </div>
            <div class="d-flex">
                
              <!-- Badge -->
              <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>
              
              <!-- Text -->
              <p class="text-gray-800 mb-6 mb-md-0">
                Demonstrate an expertise in typography, composition, layout, design thinking, and content strategy in the design solutions you create
              </p>

            </div>

', N'San Francisco, CA', 3, 2, 1, 0, NULL, NULL, N'Full Time', CAST(0x0000AA9F01779B6F AS DateTime), CAST(0x0000AA9F01779B6F AS DateTime))
SET IDENTITY_INSERT [dbo].[Job] OFF
SET IDENTITY_INSERT [dbo].[JobCategory] ON 

INSERT [dbo].[JobCategory] ([Id], [Name], [IsActive], [IsDelete]) VALUES (1, N'Analytics', 1, 0)
INSERT [dbo].[JobCategory] ([Id], [Name], [IsActive], [IsDelete]) VALUES (2, N'Web Designer', 1, 0)
INSERT [dbo].[JobCategory] ([Id], [Name], [IsActive], [IsDelete]) VALUES (3, N'Software Engineering', 1, 0)
SET IDENTITY_INSERT [dbo].[JobCategory] OFF
SET IDENTITY_INSERT [dbo].[MediaStorage] ON 

INSERT [dbo].[MediaStorage] ([Id], [EntityName], [MimeType], [Width], [Height], [FileName], [FilePath], [EntityId], [OrderNo], [CreateDateUtc], [UpdateDateUtc]) VALUES (1, N'', N'image/png', NULL, NULL, N'-_b128698d-ebad-431c-8286-61691fe4df4c.png', N'/Uploads/-_b128698d-ebad-431c-8286-61691fe4df4c.png', NULL, 0, CAST(0x0000AA9F0169B196 AS DateTime), CAST(0x0000AA9F0169B196 AS DateTime))
INSERT [dbo].[MediaStorage] ([Id], [EntityName], [MimeType], [Width], [Height], [FileName], [FilePath], [EntityId], [OrderNo], [CreateDateUtc], [UpdateDateUtc]) VALUES (2, N'', N'image/png', NULL, NULL, N'-_f155d738-748d-4a13-bca6-c57a7270041b.png', N'/Uploads/-_f155d738-748d-4a13-bca6-c57a7270041b.png', NULL, 0, CAST(0x0000AA9F0169CD25 AS DateTime), CAST(0x0000AA9F0169CD25 AS DateTime))
INSERT [dbo].[MediaStorage] ([Id], [EntityName], [MimeType], [Width], [Height], [FileName], [FilePath], [EntityId], [OrderNo], [CreateDateUtc], [UpdateDateUtc]) VALUES (3, N'TeamMember', N'image/jpeg', NULL, NULL, N'TeamMember-_6ff6ee38-16e6-47d8-91a7-1a8d936d4e85.jpg', N'/Uploads/TeamMember-_6ff6ee38-16e6-47d8-91a7-1a8d936d4e85.jpg', NULL, 0, CAST(0x0000AA9F016A65F2 AS DateTime), CAST(0x0000AA9F016A65F2 AS DateTime))
SET IDENTITY_INSERT [dbo].[MediaStorage] OFF
SET IDENTITY_INSERT [dbo].[Portfolio] ON 

INSERT [dbo].[Portfolio] ([Id], [Title], [Description], [ViewName], [CategoryId], [ViewCount], [IsActive], [IsDelete], [UserId], [PictureId], [CreateDateUtc], [UpdateDateUtc], [Format], [FormatValue]) VALUES (3, N'Mock up of the web', N'<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 
ultrices diam lorem, sit amet ullamcorper elit vulputate posuere. Cum 
sociis natoque penatibus et magnis dis parturient montes, nascetur 
ridiculus mus. Nulla nec lacus ultricies, rhoncus risus eget, sodales 
ex. In malesuada urna magna. Vestibulum ante ipsum primis in faucibus 
orci luctus et ultrices posuere cubilia Curae; Vivamus sit amet dui ut 
orci fermentum feugiat eget nec ipsum. Nam est mi, congue sit amet nulla
 non, egestas imperdiet nulla. Vestibulum ante ipsum primis in faucibus 
orci luctus et ultrices posuere cubilia Curae; Mauris nec laoreet ipsum.
 Sed lacinia lacus quis faucibus imperdiet. Morbi a est dolor.<br></p>', N'View.Default', 1, 0, 1, 0, N'b2bf51b9-4f30-427d-8756-40c717112592', 39, CAST(0x0000AAA00133610B AS DateTime), CAST(0x0000AAA00133610B AS DateTime), N'Standard', NULL)
SET IDENTITY_INSERT [dbo].[Portfolio] OFF
SET IDENTITY_INSERT [dbo].[PortfolioCategory] ON 

INSERT [dbo].[PortfolioCategory] ([Id], [Name], [IsActive], [IsDelete]) VALUES (1, N'Logo', 1, 0)
INSERT [dbo].[PortfolioCategory] ([Id], [Name], [IsActive], [IsDelete]) VALUES (2, N'Design', 1, 0)
INSERT [dbo].[PortfolioCategory] ([Id], [Name], [IsActive], [IsDelete]) VALUES (3, N'Graphic', 1, 0)
SET IDENTITY_INSERT [dbo].[PortfolioCategory] OFF
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
SET IDENTITY_INSERT [dbo].[PostTag] ON 

INSERT [dbo].[PostTag] ([Id], [Name]) VALUES (1, N'Css')
INSERT [dbo].[PostTag] ([Id], [Name]) VALUES (2, N'Html')
INSERT [dbo].[PostTag] ([Id], [Name]) VALUES (3, N'ASP.NET')
SET IDENTITY_INSERT [dbo].[PostTag] OFF
SET IDENTITY_INSERT [dbo].[PostTagMapping] ON 

INSERT [dbo].[PostTagMapping] ([Id], [PostId], [TagId]) VALUES (1, 1, 1)
INSERT [dbo].[PostTagMapping] ([Id], [PostId], [TagId]) VALUES (2, 1, 2)
INSERT [dbo].[PostTagMapping] ([Id], [PostId], [TagId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[PostTagMapping] OFF
SET IDENTITY_INSERT [dbo].[Setting] ON 

INSERT [dbo].[Setting] ([Id], [Name], [Description], [Value], [DataType]) VALUES (1, N'general.meta.title', N'Site Title', N'Vertex', N'String')
INSERT [dbo].[Setting] ([Id], [Name], [Description], [Value], [DataType]) VALUES (2, N'general.editor.name', N'Author', N'Vertex', N'String')
INSERT [dbo].[Setting] ([Id], [Name], [Description], [Value], [DataType]) VALUES (3, N'general.slogan', N'Slogan', N'.Net & Mobile Developer', N'String')
SET IDENTITY_INSERT [dbo].[Setting] OFF
SET IDENTITY_INSERT [dbo].[SocialNetwork] ON 

INSERT [dbo].[SocialNetwork] ([Id], [EntityId], [EntityName], [WebAddress], [IsActive], [OrderNo], [Name]) VALUES (1, N'1', N'TeamMember', N'https://www.facebook.com/velikayikci12', 1, 0, N'Facebook')
INSERT [dbo].[SocialNetwork] ([Id], [EntityId], [EntityName], [WebAddress], [IsActive], [OrderNo], [Name]) VALUES (2, N'3', N'TeamMember', N'https://www.facebook.com/velikayikci12', 1, 0, N'Facebook')
INSERT [dbo].[SocialNetwork] ([Id], [EntityId], [EntityName], [WebAddress], [IsActive], [OrderNo], [Name]) VALUES (3, N'4', N'TeamMember', N'https://twitter.com/', 1, 0, N'Twitter')
SET IDENTITY_INSERT [dbo].[SocialNetwork] OFF
SET IDENTITY_INSERT [dbo].[SystemError] ON 

INSERT [dbo].[SystemError] ([Id], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [ErrorDate]) VALUES (1, N'A public action method ''UploadFiles'' was not found on controller ''Vertex.Web.Areas.Manage.Controllers.FileUploadController''.', N'System.Web.HttpException (0x80004005): A public action method ''UploadFiles'' was not found on controller ''Vertex.Web.Areas.Manage.Controllers.FileUploadController''.
   at System.Web.Mvc.Controller.HandleUnknownAction(String actionName)
   at System.Web.Mvc.Controller.<>c.<BeginExecuteCore>b__152_1(IAsyncResult asyncResult, ExecuteCoreState innerState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncVoid`1.CallEndDelegate(IAsyncResult asyncResult)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResultBase`1.End()
   at System.Web.Mvc.Controller.EndExecuteCore(IAsyncResult asyncResult)
   at System.Web.Mvc.Controller.<>c.<BeginExecute>b__151_2(IAsyncResult asyncResult, Controller controller)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncVoid`1.CallEndDelegate(IAsyncResult asyncResult)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResultBase`1.End()
   at System.Web.Mvc.Controller.EndExecute(IAsyncResult asyncResult)
   at System.Web.Mvc.Controller.System.Web.Mvc.Async.IAsyncController.EndExecute(IAsyncResult asyncResult)
   at System.Web.Mvc.MvcHandler.<>c.<BeginProcessRequest>b__20_1(IAsyncResult asyncResult, ProcessRequestState innerState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncVoid`1.CallEndDelegate(IAsyncResult asyncResult)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResultBase`1.End()
   at System.Web.Mvc.MvcHandler.EndProcessRequest(IAsyncResult asyncResult)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.EndProcessRequest(IAsyncResult result)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStepImpl(IExecutionStep step)
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'176.237.84.56', N'/Manage/FileUpload/UploadFiles', N'', CAST(0x0000AAA00002F3B6 AS DateTime))
INSERT [dbo].[SystemError] ([Id], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [ErrorDate]) VALUES (2, N'The controller for path ''/Manage/Page/Jobs'' was not found or does not implement IController.', N'System.Web.HttpException (0x80004005): The controller for path ''/Manage/Page/Jobs'' was not found or does not implement IController.
   at System.Web.Mvc.DefaultControllerFactory.GetControllerInstance(RequestContext requestContext, Type controllerType)
   at System.Web.Mvc.DefaultControllerFactory.CreateController(RequestContext requestContext, String controllerName)
   at System.Web.Mvc.MvcHandler.ProcessRequestInit(HttpContextBase httpContext, IController& controller, IControllerFactory& factory)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContext httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.BeginProcessRequest(HttpContext context, AsyncCallback cb, Object extraData)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStepImpl(IExecutionStep step)
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'176.237.84.56', N'/Manage/Page/Jobs', N'/Manage/Job/Edit/2', CAST(0x0000AAA000148F60 AS DateTime))
INSERT [dbo].[SystemError] ([Id], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [ErrorDate]) VALUES (3, N'The controller for path ''/Manage/Page/Jobs'' was not found or does not implement IController.', N'System.Web.HttpException (0x80004005): The controller for path ''/Manage/Page/Jobs'' was not found or does not implement IController.
   at System.Web.Mvc.DefaultControllerFactory.GetControllerInstance(RequestContext requestContext, Type controllerType)
   at System.Web.Mvc.DefaultControllerFactory.CreateController(RequestContext requestContext, String controllerName)
   at System.Web.Mvc.MvcHandler.ProcessRequestInit(HttpContextBase httpContext, IController& controller, IControllerFactory& factory)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContext httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.BeginProcessRequest(HttpContext context, AsyncCallback cb, Object extraData)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStepImpl(IExecutionStep step)
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'176.237.84.56', N'/Manage/Page/Jobs', N'/Manage/Job/Edit/4', CAST(0x0000AAA000153286 AS DateTime))
INSERT [dbo].[SystemError] ([Id], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [ErrorDate]) VALUES (4, N'The controller for path ''/Manage/PortfolioCreate'' was not found or does not implement IController.', N'System.Web.HttpException (0x80004005): The controller for path ''/Manage/PortfolioCreate'' was not found or does not implement IController.
   at System.Web.Mvc.DefaultControllerFactory.GetControllerInstance(RequestContext requestContext, Type controllerType)
   at System.Web.Mvc.DefaultControllerFactory.CreateController(RequestContext requestContext, String controllerName)
   at System.Web.Mvc.MvcHandler.ProcessRequestInit(HttpContextBase httpContext, IController& controller, IControllerFactory& factory)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContext httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.BeginProcessRequest(HttpContext context, AsyncCallback cb, Object extraData)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStepImpl(IExecutionStep step)
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'176.237.84.56', N'/Manage/PortfolioCreate', N'/', CAST(0x0000AAA0001EAF2B AS DateTime))
INSERT [dbo].[SystemError] ([Id], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [ErrorDate]) VALUES (5, N'The controller for path ''/Manage/PortfolioCreate'' was not found or does not implement IController.', N'System.Web.HttpException (0x80004005): The controller for path ''/Manage/PortfolioCreate'' was not found or does not implement IController.
   at System.Web.Mvc.DefaultControllerFactory.GetControllerInstance(RequestContext requestContext, Type controllerType)
   at System.Web.Mvc.DefaultControllerFactory.CreateController(RequestContext requestContext, String controllerName)
   at System.Web.Mvc.MvcHandler.ProcessRequestInit(HttpContextBase httpContext, IController& controller, IControllerFactory& factory)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContext httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.BeginProcessRequest(HttpContext context, AsyncCallback cb, Object extraData)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStepImpl(IExecutionStep step)
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'88.255.103.50', N'/Manage/PortfolioCreate', N'/Portfolio/Agency', CAST(0x0000AAA0008DAEDE AS DateTime))
INSERT [dbo].[SystemError] ([Id], [ShortMessage], [FullMessage], [IpAddress], [PageUrl], [ReferrerUrl], [ErrorDate]) VALUES (6, N'The controller for path ''/Manage/PortfolioCreate'' was not found or does not implement IController.', N'System.Web.HttpException (0x80004005): The controller for path ''/Manage/PortfolioCreate'' was not found or does not implement IController.
   at System.Web.Mvc.DefaultControllerFactory.GetControllerInstance(RequestContext requestContext, Type controllerType)
   at System.Web.Mvc.DefaultControllerFactory.CreateController(RequestContext requestContext, String controllerName)
   at System.Web.Mvc.MvcHandler.ProcessRequestInit(HttpContextBase httpContext, IController& controller, IControllerFactory& factory)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContext httpContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.System.Web.IHttpAsyncHandler.BeginProcessRequest(HttpContext context, AsyncCallback cb, Object extraData)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStepImpl(IExecutionStep step)
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'88.255.103.50', N'/Manage/PortfolioCreate', N'/Portfolio/Agency', CAST(0x0000AAA0008DB830 AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemError] OFF
SET IDENTITY_INSERT [dbo].[TeamMember] ON 

INSERT [dbo].[TeamMember] ([Id], [Position], [IsActive], [OrderNo], [PictureId], [Description], [FullName], [CreateDateUtc], [UpdateDateUtc]) VALUES (1, N'Co-Founder', 1, 0, 3, NULL, N'Roberto Willis', CAST(0x0000AA9F016A7A03 AS DateTime), NULL)
INSERT [dbo].[TeamMember] ([Id], [Position], [IsActive], [OrderNo], [PictureId], [Description], [FullName], [CreateDateUtc], [UpdateDateUtc]) VALUES (2, N'Web Developer', 1, 1, 4, NULL, N'Victoria Loda', CAST(0x0000AA9F016AE7DC AS DateTime), NULL)
INSERT [dbo].[TeamMember] ([Id], [Position], [IsActive], [OrderNo], [PictureId], [Description], [FullName], [CreateDateUtc], [UpdateDateUtc]) VALUES (3, N'Designer', 1, 2, 5, NULL, N'John Doe', CAST(0x0000AA9F016B13C0 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TeamMember] OFF
SET IDENTITY_INSERT [dbo].[UrlRecord] ON 

INSERT [dbo].[UrlRecord] ([Id], [EntityId], [EntityName], [Slug], [IsActive], [LanguageId]) VALUES (1, 1, N'JobCategory', N'analytics', 0, 0)
INSERT [dbo].[UrlRecord] ([Id], [EntityId], [EntityName], [Slug], [IsActive], [LanguageId]) VALUES (2, 2, N'JobCategory', N'web-designer', 0, 0)
INSERT [dbo].[UrlRecord] ([Id], [EntityId], [EntityName], [Slug], [IsActive], [LanguageId]) VALUES (3, 3, N'JobCategory', N'software-engineering', 0, 0)
SET IDENTITY_INSERT [dbo].[UrlRecord] OFF
ALTER TABLE [dbo].[ApplyJob] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ApplyDateUtc]
GO
ALTER TABLE [dbo].[ApplyJob] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClientTestimonials] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ClientTestimonials] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDateUtc]
GO
ALTER TABLE [dbo].[ClientTestimonials] ADD  DEFAULT ((0)) FOR [PersonPictureId]
GO
ALTER TABLE [dbo].[ClientTestimonials] ADD  DEFAULT ((0)) FOR [OrderNo]
GO
ALTER TABLE [dbo].[ClientTestimonials] ADD  DEFAULT ((0)) FOR [ClientLogoId]
GO
ALTER TABLE [dbo].[ClientTestimonials] ADD  DEFAULT ('') FOR [TypeName]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [Approved]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CommentDateUtc]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT ('') FOR [FullName]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateUtc]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Job] ADD  DEFAULT ('') FOR [JobType]
GO
ALTER TABLE [dbo].[Job] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDateUtc]
GO
ALTER TABLE [dbo].[MediaStorage] ADD  DEFAULT ((0)) FOR [OrderNo]
GO
ALTER TABLE [dbo].[MediaStorage] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDateUtc]
GO
ALTER TABLE [dbo].[Portfolio] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDateUtc]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT ((0)) FOR [ApproveComment]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDateUtc]
GO
ALTER TABLE [dbo].[Subscriber] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [SubscribeDateUtc]
GO
ALTER TABLE [dbo].[TeamMember] ADD  DEFAULT ((0)) FOR [PictureId]
GO
ALTER TABLE [dbo].[TeamMember] ADD  DEFAULT ('') FOR [FullName]
GO
ALTER TABLE [dbo].[TeamMember] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDateUtc]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
