

@Html.Vertex().Page().Title("Jobs").Header(settings => {
    settings.Nav = DemoMenu.GetDemoMenu();
    settings.ShowTopbar = false;
    settings.ShowSearchIcon = true;
    settings.StickyType = HeaderStickyType.Shrink;
})


<section class="section">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-md-11">
                <h1 class="mb-4">Small team. Big hearts.</h1>
                <p class="mb-9 lead">
                    Our focus is always on finding the best people to work with. Our bar is  <br />
                    high, but you look ready to take on the challenge.
                </p>

                <div class="form-row">
                    <div class="col-4">
                        <img src="~/Content/img/mix/job2.jpg" class="img-fluid rounded shadow-lg transition-hover" alt="...">
                    </div>
                    <div class="col-3">
                        <img src="~/Content/img/mix/job1.jpg" class="img-fluid rounded shadow-lg mb-2 transition-hover" alt="...">
                        <img src="~/Content/img/mix/job3.jpg" class="img-fluid rounded shadow-lg mt-2 transition-hover" alt="...">
                    </div>
                    <div class="col-5">
                        <div class="form-row mb-2">
                            <div class="col-5">
                                <img src="~/Content/img/mix/job4.jpg" class="img-fluid rounded shadow-lg transition-hover" alt="...">
                            </div>
                            <div class="col-7">
                                <img src="~/Content/img/mix/job5.jpg" class="img-fluid rounded shadow-lg transition-hover" alt="...">
                            </div>
                        </div>

                        <img src="~/Content/img/mix/job6.jpg" class="img-fluid rounded shadow-lg mt-2 transition-hover" alt="...">

                    </div>
                </div>



            </div>
        </div>
    </div>
</section>

<section class="section m-gab-2">
    <div class="container">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <p class="text-primary">THE PERKS</p>
            <h2>About working <span class="font-weight-semi-bold">here</span></h2>
            <p>
                Join a company which has the drive of a startup & the backing of Adastra Group, a 1.200 people strong corporation.
            </p>
        </div>
        <div class="row mb-8">
            <div class="col-sm-4">
                <div class="media">
                    <div class="mr-4">
                        <i class="icon-location text-primary fs-40"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 mt-0 mb-2">Great location</h3>
                        <p>
                            Bike & public transport friendly, city center, great restaurants in the area.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="media">
                    <div class="mr-4">
                        <i class="icon-chair-director text-primary fs-40"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 mt-0 mb-2">Big beautiful office</h3>
                        <p>
                            300m2 of space with terrace designed by architect.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="media">
                    <div class="mr-4">
                        <i class="icon-user-star-2 text-primary fs-40"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 mt-0 mb-2">Education opportunities</h3>
                        <p>
                            Weekly English classes + any extra education you may need.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="row">
            <div class="col-sm-4">
                <div class="media">
                    <div class="mr-4">
                        <i class="icon-hand-card text-primary fs-40"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 mt-0 mb-2">Sports cards</h3>
                        <p>
                            Sports cards with access to over 250 facilities
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="media">
                    <div class="mr-4">
                        <i class="icon-food-dome text-primary fs-40"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 mt-0 mb-2">Food and drinks</h3>
                        <p>
                            Loaded fridge and afterwork drinks on our terrace
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="media">
                    <div class="mr-4">
                        <i class="icon-hand-eco text-primary fs-40"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="h5 mt-0 mb-2">Socially responsible</h3>
                        <p>
                            Pro-bono activities & support for good causes we care about.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section custom-section-1">
    <div class="container">
        <div class="text-center">
            <i class="fa fa-quote-left fs-40 text-primary mb-3"></i>
        </div>
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-4">
            <blockquote class="lead fs-26">
                Choose a job you love, and you will never<br>
                have to work a day in your life.
            </blockquote>
        </div>
        <div class="d-flex justify-content-center align-items-center w-lg-50 mx-auto">
            <div class="avatar">
                <img class="img-fluid rounded-circle" src="/Content/img/confucius.jpg" alt="Image Description">
            </div>
            <div class="ml-3">
                <h4 class="h5 mb-0">Confucius</h4>
            </div>
        </div>
    </div>
</section>




<section class="section">
    <div class="container">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <p class="text-primary">POSITIONS</p>
            <h2>Open <span class="font-weight-semi-bold">Positions</span></h2>
            <p>
                Join a company which has the drive of a startup & the backing of Adastra Group, a 1.200 people strong corporation.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11">

                @Html.Vertex().Jobs().Variation(JobViewVariation.Variation2)

            </div>
        </div>

        <div class="row justify-content-center mt-3 mt-md-4">
            <div class="col-auto">
                <div class="alert bg-light rounded">
                    Didn't see your dream job? <a href="#" class="anim-link-2 anim-link-2-primary">Get in touch</a>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="pt-6 pt-md-8">
    <div class="container pb-6 pb-md-8">
        <div class="row align-items-center">
            <div class="col-12 col-md">

                <!-- Heading -->
                <h3 class="mb-1">
                    Interested in joining our team?
                </h3>

                <!-- Text -->
                <p class="font-size-lg text-muted mb-5 mb-md-0">
                    Hit us up and we'll get in touch with you.
                </p>

            </div>
            <div class="col-12 col-md-auto">

                <!-- Button -->
                <a href="#!" class="btn btn-primary lift">
                    Apply now
                </a>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


@Html.Vertex().Footer()